<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA Bootstrap Lunr Search plug-in for DITA Open Toolkit.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="org.dita-bootstrap.lunr" version="5.3.6">
  <require plugin="org.dita-bootstrap.html"/>
  <feature extension="ant.import" file="process_lunr.xml"/>
  <!-- Ensure the plugin's error and logging messages are available -->
  <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
  <!-- HTML5 extension points -->
  <feature
    extension="dita.xsl.html5-bootstrap"
    value="xsl/xhtml.xsl"
    type="file"
  />
  <feature extension="bootstrap.process.pre" value="lunr.init"/>
  <feature extension="depend.preprocess.post" value="lunr"/>
  <!-- Internationalization of texts -->
  <feature extension="dita.xsl.strings" file="cfg/common/vars/strings.xml"/>
  <feature extension="dita.conductor.html5.param" file="insertParameters.xml"/>

  <transtype name="html5-bootstrap" extends="html5">
    <param name="offline.mode" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param
      name="bootstrap.theme.search.card"
      type="enum"
      desc="Bootstrap theme utility class for the search card component"
    >
      <val>accent-border</val>
      <val>accent-contrast</val>
      <val>accent-muted</val>
      <val>accent-subtle</val>
      <val>accent-subtle-border</val>
      <val>danger-border</val>
      <val>danger-contrast</val>
      <val>danger-muted</val>
      <val>danger-subtle</val>
      <val>danger-subtle-border</val>
      <val>info-border</val>
      <val>info-contrast</val>
      <val>info-muted</val>
      <val>info-subtle</val>
      <val>info-subtle-border</val>
      <val>inverse-border</val>
      <val>inverse-contrast</val>
      <val>inverse-muted</val>
      <val>inverse-subtle</val>
      <val>inverse-subtle-border</val>
      <val default="true">none</val>
      <val>primary-border</val>
      <val>primary-contrast</val>
      <val>primary-muted</val>
      <val>primary-subtle</val>
      <val>primary-subtle-border</val>
      <val>secondary-border</val>
      <val>secondary-contrast</val>
      <val>secondary-muted</val>
      <val>secondary-subtle</val>
      <val>secondary-subtle-border</val>
      <val>success-border</val>
      <val>success-contrast</val>
      <val>success-muted</val>
      <val>success-subtle</val>
      <val>success-subtle-border</val>
      <val>warning-border</val>
      <val>warning-contrast</val>
      <val>warning-muted</val>
      <val>warning-subtle</val>
      <val>warning-subtle-border</val>
    </param>
  </transtype>
</plugin>
